@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

section .bg-img{
    background-image: url("1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-attachment: fixed;
}




/* navbar css started--------------- */
.navbar-item{
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    background-color: 	#181c20;
}


.s-message{
    height: 62px!important;

}


.logopic{
    height: 30px;

    margin-right: 15%;
}

ul .dropdown-menu {
    background-color: #E9ECEF;
    font-size: 20px;
    font-weight: 600;

}
ul .dropdown-menu .dropdown-item{
    color: blue;
    align-items: center;
    text-align: center;
    border-bottom: 0.2px solid gray;
    transition: all 0.8s ease;
}

ul .dropdown-menu .last-item{

    border-bottom: 0;
}

ul .dropdown-menu .dropdown-item:hover{
    transition: all .8s ease;
    transition: all ease-in-out 1s;
    transform: scale(1.02);
}



/* Member section style */
.team h1{
    font-size: 3.5vw;
    font-weight: 600;
    color: #19a09b;
    text-align: center;
    margin-top: 65px;
    margin-bottom: 24px;
    background-color: rgb(228, 244, 244);
    padding: 5px 0 6px 0;
    border-radius: 10px 10px 0 0;
}

.team{
    padding: 0 12% 0 12%;
}

.my-card{
padding: 0 12% 0 12%;
}




  /* card box style started------ */
  /* card button */
.btn2 {
    position: relative;
    background-color: #04AA6D;
    border: none;
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    padding: 7px;
    width: 160px;
    border-radius: 12px;
    margin-top: 6px;
    margin-bottom: 4px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.8s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
  }
  
.btn2:after {
    content: "";
    background: #5647e2;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s

  }
  
.btn2:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }

/* card button ended */

.card-container{
    padding: 0 12% 0 12%;
    height: auto;
    text-align: center;
}

.card-image img{
    height: 12%;
    width: 30%;
    margin-top: 7px;
}


.card-style h5{
    font-size: 1.8em;
    font-weight: 700;
}



.card-style p{
    font-size: 14px;
    font-weight: 500;
    font-family: 'Robota', sans-serif;
}

.card-c{
    background-color: rgb(230, 247, 245)!important;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.card-c:hover{
    transform: scale(1.02);
    transition: all ease 1s;
    transition: all ease-out 1s!important;
}

.watch-head{
    margin-top: 50px;
    margin-bottom: 40px;
    padding-left: 12.5%;
    font-size: 3em;
    font-weight: 600;
}

.main-card-container{
    background-color: rgb(245, 248, 247);
}

.last-person{
    margin: auto;
    margin-bottom: 100px;
}

.card-body i{
    font-size: 35px;
    margin-bottom: 10px;
    padding: 8px;
    color: black;
    margin-top: 3px;
    border-radius: 50%;

}

/* card box style ended------ */
/* member srction ended */


/* Home section started */
.main-index{

    height: auto;
    background-color: #f1f5f4!important;
}

.main-index .first-h2{
    font-size: 3.5vw;
    font-weight: 600;
    color: #19a09b;
    text-align: center;
    margin-bottom: 24px;
    background-color: rgb(228, 244, 244);
    padding: 5px 0 6px 0;
    border-radius: 10px 10px 0 0;
}

.home-card{
    border: none!important;
    background-color: #f1f5f4!important;
    margin-left: 0 3% 0 3%;
}

.home-body{
    margin-bottom: 70px;
}



.micro-ex h2{
    margin-left: 6%;
}

.micro-ex p{
    margin-left: 6%;
}

.home-photo-card{
    text-align: center;
    background-color: #e6f3f4;

}

.home-photo-card a{
    text-decoration: none;
    font-size: 1em;

}

.full-ho{
    margin-bottom: 120px;
}

.main-p-h{
background-color: #54d5a6;
border-radius: 0 0 15px 15px;
text-align: center;
height: 360px;
margin: 0 4% 0 4%;
padding-top: 70px;
}

.main-p-h h1{
    font-size: 3.2vw;
    font-weight: 600;
    padding: 5px 0 6px 0;
    }

.main-p-h h3{
    font-size: 3vw;
    font-weight: 600;
    padding: 7px 0 6px 0;
}

.main-p-h h4{
    font-size: 2vw;
    font-weight: 500;
    padding: 7px 0 6px 0;
}

.main-p-h h5{
    font-size: 1.8vw;
    font-weight: 500;
    padding: 7px 0 6px 0;
}


    







/* Home section ended */


/* instuctor section stared */
.img-div img{
    height: 120px;
    width: 100%;
    margin-bottom: 5px;
}

.ins-div{
    background-color: #152232;
    padding-bottom: 100px;


}

.ins-div h2{
    color: #ffffff;
    text-align: center;
    font-size: 3.2em;
    text-shadow: red 0 0 10px;
    margin-bottom: 20px;
    margin-top: 15px;
}

.in-card{
    text-align: center;


}

.in-card h3{
    font-size: 2.1em;
    font-weight: 600;
    margin-bottom: 10px;
}

.in-card .card-text{
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 10px;
}

.in-card p{
    font-size: 1.1em;
    font-weight: 500;
    margin-bottom: 10px;
    font-family:  Robota, sans-serif;
}


.in-card .in-img{
    height: 200px;
    width: 200px;

}

/* card setion st */
.in-card-main{
    margin: 0 5% 0 5%;
    
}









/* instuctor section ended */





/* About us section statred */
.about-us{
    padding: 0 12% 0 12%;
    height: auto !important;
    background-color: #152232!important;

}


/* category box style started------ */
.categories{
    margin-bottom: 100px;
    margin-top: 50px;
    padding: 0 10% 0 10%;

}
.anime:hover{
    transform: scale(1.02);
    transition: all ease 1s; 
    transition: all ease-in-out 1s;
}


.cat{
    background: linear-gradient(90deg, rgb(204, 255, 250) 0%, rgb(190, 235, 237) 35%, rgb(203, 246, 253) 100%);

    
}


.cat{
    padding: 15px 35px;
    border-radius: 15px;
    margin: 5px;
    height: 90%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    height: 140px;
}

.cat img{
    width: auto;
    height: 40px;
    padding-right: 20px;
}


.categories h4{
    font-size: 20px;
    text-align: center;
    padding: 15px 0 0px 0;
}

.categories h5{
    font-size: 19px;
    text-align: center;

}

.categories a{
    text-decoration: none!important;
}

.cate{
    margin-top: 70px;
    padding-left: 5.50%;
    margin-bottom: 20px;

    font-weight: 600;
    font-family: 'Fuzzy Bubbles', cursive;
}

.cate h1{
    font-size: 3em;
}

/* category box style ended------ */

/* Footar section of about pages st */
.footar-item h4{
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 20px;

}



.footar-item{
    text-align: center;
    text-decoration: none!important;
}

.footar-item a{
    text-decoration: none!important;
}

.footar-item ul li{
    list-style: none;
    margin-bottom: 10px;
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none!important;
}

.footar{
    background-color: rgb(190, 235, 237);
    padding: 3% 12% 0 12%;
    height: auto !important;
    margin-bottom: 10px;
    border-radius: 20px 20px 1px 1px;
}
.main{
    background-color: #152232;
}

.footar-item p{
    text-align: justify;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}


/* message section */
.m-card{
    justify-content: center;
    align-items: center;
    margin-top: 4%;
    padding-bottom: 50px;
}

/* message from section */

.sale-card{
    margin-top: 60px;
    margin-bottom: 40px;
    padding: 0 10% 0 10%;
}


#fcf-form {
    display:block;
}

.mm-body {
    margin: 0;
    font-family: -apple-system, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #bffff5;
    padding: 30px;
    padding-bottom: 10px;
    margin-top: 30px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    max-width: 100%;
    width: 700px!important;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.fcf-form-group {
    margin-bottom: 1rem;
}

.fcf-input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.fcf-form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    outline: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.fcf-form-control:focus {
    border: 1px solid #313131;
}

select.fcf-form-control[size], select.fcf-form-control[multiple] {
    height: auto;
}

textarea.fcf-form-control {
    font-family: -apple-system, Arial, sans-serif;
    height: auto;
}

label.fcf-label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.fcf-credit {
    padding-top: 10px;
    font-size: 0.9rem;
    color: #545b62;
}

.fcf-credit a {
    color: #545b62;
    text-decoration: underline;
}

.fcf-credit a:hover {
    color: #0056b3;
    text-decoration: underline;
}

.fcf-btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .fcf-btn {
        transition: none;
    }
}

.fcf-btn:hover {
    color: #212529;
    text-decoration: none;
}

.fcf-btn:focus, .fcf-btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.fcf-btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.fcf-btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.fcf-btn-primary:focus, .fcf-btn-primary.focus {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.fcf-btn-lg, .fcf-btn-group-lg>.fcf-btn {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
}

.fcf-btn-block {
    display: block;
    width: 100%;
}

.fcf-btn-block+.fcf-btn-block {
    margin-top: 0.5rem;
}

input[type="submit"].fcf-btn-block, input[type="reset"].fcf-btn-block, input[type="button"].fcf-btn-block {
    width: 100%;
}


.main-message{
    background-color: #05957b!important;
}


/* message from section ended */



/* litarature review section 1 individual */
.main-div{
    background: #1f3146!important;
    height: auto;
    width: 100%;
}

.main-div .sec1{
    color: #fff;
    font-weight: 700;
    padding-top: 50px;
    padding-bottom: 50px;
}

.main-div h1{
    text-align: center!important;
    font-size: 2.5rem;

 }

 .p-body h1{
    font-size: 30px!important;
    color: white!important;
    text-shadow: rgb(198, 20, 112) 0px 0px 10px;
    margin-top: 15px;
 }

.mar-body{
    margin-left: 48%!important;
}

.card{
    margin: 2% 6% 0 6%;
    border-radius: 18px;
    background-color: #88add4;
    border: none!important;
}

.card-body h1{
    color: #0a6ed2;

}

.p-body{
 background-color: #1f3146;
}

.p-card{
    margin-top: 10px!important;
}
.last-c{
    margin-top: 20px!important;
}

.sum .c-sum{
    text-align: center;
    font-size: 20px;
    font-weight : 600!important;
}

.sum p{
    text-align: center;
    font-size: 17px;
    font-weight: 300!important;
}
.sub p{
    width: 600px!important;
    text-align: left!important;
    padding-right:200px !important; ;
}

.sum .suma p{
    text-align: justify;
    font-size: 14px;
    font-weight : 400!important;
}

.sum .suma h2{
    text-align: center;
    font-size: 20px;
    font-weight : 600!important;
    margin-top: 18px;
}

.sum .suma ol{
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight : 400!important;

}

/* litarature review section 1 individual end */




/* litarature review all name page style st */
.name{
    margin-top: 0px;
    margin-bottom: 10px!important;
    font-weight: 700;
    color: #0a6ed2;
    text-align: center;
}

.name h1{
    font-size: 4vw;
    margin-bottom: 70px;
    margin-top: 30px;
}

.name h3{
    font-size: 4vw;
    margin-bottom: 50px;
    color: white;
    padding-top: 40px; 

}

.name-p a{
    text-decoration: none;
    color: rgb(8, 8, 9);
    transition: 0.4s;
}

.name-p h2{
    color: white;
    font-size: 1.7vw;
    font-weight: 600;
}


.name-p{
    margin-top: 5px;
    text-align: center;
    background-color: #04AA6D;
    margin: 0 28% 0 28%;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 15px;
    cursor: pointer;
}

.name-p:hover{
    transform: scale(1.02);
    transition: 0.7s;
}

.bg-p{
    background-color: #152232!important;
    margin: 0 28% 0 28%;
    padding: 10px;
    border-radius: 15px;
}


.name-main-div{
    background-color: #31413f;
    margin: 0 25% 0 25%;
    height: 700px;
    border-radius: 0 0 10px 10px;
}

.p-color{
    background-color: #152232!important;
    padding-bottom: 50px;
}


.main-pre-final{
    margin-left: 25%!important;

}

.main-pre-final iframe{
    border: none!important;
}

iframe{
    border: none!important;
}
/* litarature review name page style end */


/* Eqipment section st */
.compo{
    margin: 2% 5% 0 2%;
}

.card .com-img img{
    width: 70%;
    height: auto;
    margin-left: 20%;
}

.com-body h4{
    font-size: 1.5vw;
    font-weight: 600;
    color: #0a6ed2;
    margin-top: 30px;
}

.com-body p{
    text-align: justify;
    color: rgb(0, 0, 0)!important;
    font-size: 17px!important;
}

.com-head h2{
    font-size: 4vw;
    font-weight: 700;
    color: #0a6ed2;
    margin-top: 70px;
    text-align: center;
    margin-bottom: 40px;
    text-shadow: #19a09b 0px 0px 2px;

}


/* presurvey stated */
.main-pre{
    font-size: 16px!important;
    text-align: justify;
    margin-left: 10%;
  }


.main-pre h5{
        font-size: 55px!important;
        color: rgb(7, 32, 130)!important;
        margin-top: 15px;
        text-align: center!important;
        margin-bottom: 40px;
        margin-top: 70px;
}

.main-pre a{
    text-decoration: none  !important;
}




/* block diagram section */
.block-haed-img img{
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
    width: 90%;
    height: 85%;
    margin-left: 30px;
}

.block-haed h2{
    margin-top: 70px;
}

/* goals and benefit */
.my-goal h3{
    text-align: justify;
    margin-left: 10%;
}

.my-goal h2{
    text-align: center;
}

.goals h4{
    font-size: 20px;
    font-weight: 600;
    color: #0a6ed2;
    margin-top: 30px;
    margin-left: 10%;
}

/* survey result */
.simg{
    margin-top: 15px!important;
    text-align: center;
    align-items: center;
}

.dht_div img{
    width: 50%;
    height: auto;
    margin-left: 28%;
}







